<ion-view view-title="Avatar">
  <ion-content>
  <div class="row centeredText"><h2>CHOOSE YOUR AVATAR!</h2></div>
  <div class="row">
  <div class="col borderAll"><a href="#/app/chooseGame"><img src="img/avatar_1.jpg" style="width:160px; height:160px;"/></a></div>
  <div class="col borderAll"><a href="#/app/chooseGame"><img src="img/avatar_2.jpg" style="width:160px; height:160px;"/></a></div>
  </div>
  
   <div class="row">
  <div class="col borderAll"><a href="#/app/chooseGame"><img src="img/avatar_3.jpg" style="width:160px; height:160px;"/></a></div>
  <div class="col borderAll"><a href="#/app/chooseGame"><img src="img/avatar_4.jpg" style="width:160px; height:160px;"/></a></div>
  </div>
  
   <div class="row">
  <div class="col borderAll"><a href="#/app/chooseGame"><img src="img/avatar_5.jpg" style="width:160px; height:160px;"/></a></div>
  <div class="col borderAll"></div>
  </div>
  
  </ion-content>
</ion-view>
