<ion-scroll zooming="false" direction="y" class="scroll_iPhone6 width100">

<div class="topSpacer">
<h1 style="color:red; text-align:center;">CHOOSE A GAME!</h1>

<div class="myListItem">
<div class="gIcon">
<a href="#/app/getActive">
	<img src="img/active.jpg"/>
</a>
</div>
<div class="itemHeader centeredText">
<h1 style="color:white;">Let's Get Active!</h1>
</div>
<div class="itemInfo">
<p>Get outside and get real activity!</p>
</div>
</div>



<div class="myListItem">
<div class="gIcon">
<a href="#/app/chooseChews">
	<img src="img/chooseChews.jpg"/>
</a>
</div>
<div class="itemHeader centeredText">
<h1 style="color:white;">Choose Your Chews</h1>
</div>
<div class="itemInfo">
<p>Guess the health value of your foods</p>
</div>
</div>





</ion-scroll>