<ion-view view-title="Daily Tips">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image03.jpg">
        <h2>Artificial Colors</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/image03.jpg">
        <p>
          There's a reason why most sugary treats give us a rush. Hidden artificial colours in foods can cause hyperactivity and headaches
        </p>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div> -->

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image05.jpg">
        <h2>Bleached White Flour</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/image05.jpg">
        <p>
          Found in most white breads, bleached white flour is usually stripped of nutrients and fibre and adds little value to our diets
        </p>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div> -->

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/Karo.jpg">
        <h2>High-Fructose Corn Syrup</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/Karo.jpg">
        <p>
          This ingredient is found in most processed foods, including lunch meats, and has no nutritional value
        </p>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div> -->

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image04.jpg">
        <h2>Artificial Sweeteners</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/image04.jpg">
        <p>
          Artificial sweeteners give food that sugary taste that is also quite addictive.
        </p>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div> -->

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image07.jpg">
        <h2>Partially Hydrogenated Oil</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/image07.jpg">
        <p>
          Partially hydrogenated oils (which are often found in cake mixes, peanut butter and baked goods) can decrease good cholesterol levels, are linked to heart disease and are hard for the body to dissolve
        </p>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div> -->

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image06.jpg">
        <h2>Whole grains</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/image06.jpg">
        <p>
          Regular whole grain consumption could help protect against the development of certain chronic diseases, such as cardiovascular disease, metabolic syndrome, type 2 diabetes, and cancer
        </p>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div> -->

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image08.jpg">
        <h2>Olive Oil</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/image08.jpg">
        <p>
          Nutritionists have long touted the heart-<strong><em>healthy</em></strong> benefits of extra-virgin <strong><em>olive oil</em></strong>.
        </p>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div> -->

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image09.jpg">
        <h2>Olive Oil</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/image09.jpg">
        <p>
          The <strong>health</strong> benefits of <strong>bananas</strong> include helping with weight loss, reducing obesity , curing intestinal disorders, relieving constipation, and curing conditions
        </p>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div> -->

    </div>

  </ion-content>
</ion-view>
