<ion-view view-title="Get Active!">
  <ion-content>

   <div class="list card">

	<div class="item item-avatar">
    <img src="/img/avatar.jpg">
    <h2>Basketball</h2>
    <p>Layup Drills</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/phys_image00.jpg">
    <p>
     Basketball laps -  A run that you start at one end of an area, run 1/4 of the way and run back, turn around run half way and back turn around again and run 3/4 of the way and the last time you run the whole way and back. usually you have to touch the ground every time you turn around too.
    </p>
  </div>
	 <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-pinpoint"></i>
      CHECK IN
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-images"></i>
      PHOTO
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      SHARE
    </a>
  </div>

  <!--  -->
  
   <div class="item item-avatar topSpacer">
    <img src="/img/phys_image09.jpg">
    <h2>Upper Bpdy</h2>
    <p>Push Ups</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/phys_image08.jpg">
    <p>
     Basketball laps -  A run that you start at one end of an area, run 1/4 of the way and run back, turn around run half way and back turn around again and run 3/4 of the way and the last time you run the whole way and back. usually you have to touch the ground every time you turn around too.
    </p>
  </div>

   <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-pinpoint"></i>
      CHECK IN
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-images"></i>
      PHOTO
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      SHARE
    </a>
  </div>


 <!--  -->
  
   <div class="item item-avatar topSpacer">
    <img src="/img/phys_image09.jpg">
   <h2>Baseball</h2>
    <p>Practice Swings</p>
     </div>

  <div class="item item-body">
    <img class="full-image" src="img/phys_image01.jpg">
    <p>
     Basketball laps -  A run that you start at one end of an area, run 1/4 of the way and run back, turn around run half way and back turn around again and run 3/4 of the way and the last time you run the whole way and back. usually you have to touch the ground every time you turn around too.
    </p>
  </div>

   <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-pinpoint"></i>
      CHECK IN
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-images"></i>
      PHOTO
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      SHARE
    </a>
  </div>

    
    <!--  -->
  
   <div class="item item-avatar topSpacer">
    <img src="/img/phys_image09.jpg">
    <h2>Upper Body</h2>
    <p>Curl Ups</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/phys_image05.jpg">
    <p>
     Basketball laps -  A run that you start at one end of an area, run 1/4 of the way and run back, turn around run half way and back turn around again and run 3/4 of the way and the last time you run the whole way and back. usually you have to touch the ground every time you turn around too.
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-pinpoint"></i>
      CHECK IN
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-images"></i>
      PHOTO
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      SHARE
    </a>
  </div>
  

</div>

   
   
  </ion-content>
</ion-view>
