<ion-view view-title="Daily Tips">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/image03.jpg">
        <h2>Artificial Colors</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/image03.jpg">
        <p>
          There's a reason why most sugary treats give us a rush. Hidden artificial colours in foods can cause hyperactivity and headaches
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/app/avatar">
          <i class="icon ion-play"></i>
          next...
        </a>

      </div>

    </div>

  </ion-content>
</ion-view>
