/* Empty. Add your own CSS if you like */

.splashLogo{
	background-image: url("../img/splash.jpg");
	background-size: cover;
	height:100vh;
	background-repeat: no-repeat;
	background-color: #ffffff;
	padding-top: 100%;
	text-align: center;
}

.borderAll{
	border: blue;
	border-style: dashed;
	border-width: medium;
}

.centeredText{
	text-align: center;
}

.myListItem{
	width:100%;
	min-height:210px;
	background-color: rgba(102,102,102,0.52);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 20px;
	padding-bottom: 20px;
	box-shadow: 0px 5px 5px black; 	
}

.myItemHolder{
	width:95%;
	margin-left: auto;
	margin-right: auto;
	min-height: 650px;
}


.bgWhite{
	background-color: white;
}

.myItemHolder li{
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.gIcon{
	position: absolute;
	width:100%;
	height:auto;
	max-height: 210px;
	overflow: hidden;
	border-radius: 20px;
	float: left;
	background-position: center top;
}

.itemHeader{
	position: relative;
	width:100%;
	text-align: left;
	float: left;
	color: white;
	padding-left: 10px;
	background-color: rgba(0,0,0,0.4);
	text-shadow: 0px 2px 2px black;
	font-size: large;
}


.itemInfo p{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	position: relative;
	top:5px;
	text-align: left;
	padding-left: 10px;
}

.itemInfo{
	position: relative;
	width:100%;
	float: left;
	color: white;
	text-align: left;
	padding-left: 10px;
	background-color: rgba(0,0,0,0.15);
	margin-left: auto;
	margin-right: auto;
	bottom:0px;
}

.gIcon img{
	height:100%;
	width:100%;
	overflow: hidden;
	background-position: center bottom;
	background-origin: content-box;
	overflow-y: none;
	background-size: contain;
}



.nav_loginBox:hover{
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.profileImage{
	width:120px;
	height: 120px;
	background-position:center center;
	overflow: hidden;
	margin:10px;
}

.profileHeader{
	top:100px;
	height:40px;
	position:relative;
}

.creditsImage{
	height: 650px;
	background-image: url("../img/team.jpg");
	background-size: contain;
	width: 100%;
	background-repeat: no-repeat;
	margin: 0px auto;
}

.scroll_iPhone6{
	height:650px;
}

.width100{
	width: 100%;
}

.topSpacer{
	margin-top: 70px;
}